# Pramaan AI — Production Frontend Environment Variables
NEXT_PUBLIC_API_URL="http://localhost:8000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional Cloud PostgreSQL (Prisma Client Edge direct connection)
DATABASE_URL="postgresql://neondb_owner:secret@ep-cool-neon.us-east-2.aws.neon.tech/neondb?sslmode=require"
